<div class="container">
  <h1>支出登録(変動費)</h1>

<%= simple_form_for @variable_expense, url: '/variable_expense' do |f| %>
<div class="container">
    <%= f.input :pay_year %>
    <%= f.input :pay_month %>
</div>

  <div class="css-grid ">
    <div class="grid-container">
      <i class="fa-solid fa-burger-fries"></i>
        <%= f.input :food %>
    </div>


    <div class="grid-container">
    <i class="fa-solid fa-car"></i>
        <%= f.input :car %>
    </div>
    <div class="grid-container">
    <i class="fa-solid fa-train-subway"></i>
      <%= f.input :trans %>
    </div>

    <div class="grid-container">
    <i class="fa-solid fa-baby"></i>
      <%= f.input :child %>
    </div>
    
    <div class="grid-container">
    <i class="fa-solid fa-cart-shopping"></i>
      <%= f.input :comodity %>  
    </div>
    
    <div class="grid-container">
      <i class="fa-solid fa-couch"></i>
      <%= f.input :furniture %>
    </div>

    <div class="grid-container">
      <i class="fa-solid fa-gift"></i>
      <%= f.input :present %>
    </div>

    <div class="grid-container">
      <i class="fa-solid fa-sack-dollar"></i>
      <%= f.input :cash %>
    </div>

  </div>

  <div class="center">
     <%= f.submit "Create new expense", class:"btn btn-submit_expense" %>
  </div>

  <% end %>
</div>
