<div class="container">
  <h1>収支概要</h1>
  <h2>2022</h2>

  <div class="css-grid-month">
    <div class="grid-container">
      <p><%= link_to "1月", "/users/202201" %></p>
    </div>
     <div class="grid-container">
      <p><%= link_to "2月", "/users/202202" %></p>
    </div> 
    <div class="grid-container">
      <p><%= link_to "3月", "/users/202203" %></p>
    </div>
    <div class="grid-container">
      <p><%= link_to "4月", "/users/202204" %></p>
    </div>
     <div class="grid-container">
      <p><%= link_to "5月", "/users/202205" %></p>
    </div> 
    <div class="grid-container">
      <p><%= link_to "6月", "/users/202206" %></p>
    </div>
    <div class="grid-container">
      <p><%= link_to "7月", "/users/202207" %></p>
    </div>
    <div class="grid-container">
      <p><%= link_to "8月", "/users/202208" %></p>
    </div>
    <div class="grid-container">
      <p><%= link_to "9月", "/users/202209" %></p>
    </div>
    <div class="grid-container">
      <p><%= link_to "10月", "/users/202210" %></p>
    </div>
    <div class="grid-container">
      <p><%= link_to "11月", "/users/202211" %></p>
    </div>
    <div class="grid-container">
      <p><%= link_to "12月", "/users/202212" %></p>
    </div>

  </div>

</div>