<div class="container">
  <h1>支出登録(固定費)</h1>

<div class="container">
  <%= simple_form_for @fixed_expense do |f| %>
    <%= f.input :pay_year %>
    <%= f.input :pay_month %>
</div>

  <div class="css-grid ">
    <div class="grid-container">
      <i class="fa-solid fa-house"></i>
        <%= f.input :house %>
    </div>


    <div class="grid-container"><i class="fa-solid fa-car"></i>
        <%= f.input :car %>
    </div>
    <div class="grid-container"><i class="fa-regular fa-money-bill"></i>
      <%= f.input :tax %>
    </div>

    <div class="grid-container"><i class="fa-regular fa-person"></i>
      <%= f.input :personal %>
    </div>
    
    <div class="grid-container"><i class="fa-regular fa-earth-asia"></i>
      <%= f.input :communication %>  
    </div>
    
    <div class="grid-container"><i class="fa-regular fa-bolt-lightning"></i>
      <%= f.input :infra %>
    </div>

  </div>

  <div class="center">
     <%= f.submit "Update expense", class:"btn btn-submit_expense" %>
    <% end %>
  </div>

</div>